CompileFlags:
  CompilationDatabase: "esp8266_firmware/build"
  Add:
    - -w

Diagnostics:
  Suppress:
    - pp_file_not_found
    - undeclared_var_use
    - unknown_typename
    - drv_compilation_fail
    - drv_unknown_argument
